@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

$fontFam: 'Raleway', sans-serif;

:root {
  box-sizing: border-box;
  --clr-head: #0c3653;
  --clr-accent: #f98169;
  --clr-body: #aeb2b4;
  --fs-h2: 3rem;
  --fs-h4: 1.8rem;
  --ff-body: "Raleway", sans-serif;
  font-family: $fontFam;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h2,
h4,h1 {
  color: var(--clr-head);
  font-family: $fontFam;
}
h1{
  font-size: 4rem;
  font-weight: bold;
  font-family: $fontFam;
}
h2 {
  font-size: var(--fs-h2);
  font-family: $fontFam;
}

/* ALERT DESIGN */
.alertt{
  position: fixed;
  width: 100%;
  font-size: 15px;
  z-index: 30;
  top: 0;
  background: #33cc33;
  padding: 1rem;
  .alert-message{
    display: flex;
     i{
       font-size: 22px;
       padding: 2px;
      margin-right: 5px;
     }
     strong{
       p{
         display: inline-block;
         font-weight: lighter;
         color: #000;
       }
     }
  
  }
}
.close {
  float: right;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}
.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
}