@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

$fontFam: 'Raleway', sans-serif;

:root {
  box-sizing: border-box;
  --clr-head: #0c3653;
  --clr-accent: #f98169;
  --clr-body: #aeb2b4;
  --fs-h2: 3rem;
  --fs-h4: 1.8rem;
  --ff-body: "Raleway", sans-serif;
  font-family: $fontFam;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h2,
h4,h1 {
  color: var(--clr-head);
}
h1{
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: var(--fs-h2);

}
