@import '../../sass/Global.scss';
$colorTheme:  #f98169;

.cart{
    border: 1px solid rgb(179, 179, 179);
    display: flex;
    flex-direction: column;
    text-align: center;
    button{
        background: $colorTheme;
        position: static;
        width: 200px;
        font-size: 1.7rem;
        color: #fff;
        border: none;
        outline: none;
        height: 40px;
        margin:  30px auto;
        border-radius: 10px;
    }
    button:hover{
        background: #f3a697;
      }
    h1{
        margin: 1rem;
        padding: 1rem;
        font-family: $fontFam;
    }
   
}
.cart-item{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 50%;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(179, 179, 179);
    box-shadow: 1px 2px rgb(179, 179, 179);
    text-align: center;
    align-items: center;
    .cart-Noitem{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 1rem;
        i{
            font-size: 70px;
            opacity: .4;
            margin: 0 auto;
        }
    }
    #del-item{
        position: relative;
        bottom: 60px;
    }
    img{
        width: 150px;
        height: 150px;
    }
    .cart-details{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 200px;
        margin: 2px;
        h2{
            font-size: 3rem;
            font-family: $fontFam;
        }
    }
    p{
        font-size: 2rem;
        font-family: $fontFam;
    }
    i{
        font-size: 3rem;
        cursor: pointer;
    }
    i:hover{
        color: #f98169;
    }
}

#cart-total{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    border:  1px solid rgb(179, 179, 179);
    box-shadow: 1px 2px rgb(179, 179, 179);
    justify-content: space-between;

    h2{
        text-align: center;
        width: 35%;
        margin-top: 3rem;
    }
   
.location{
    width: 65%;
    padding: .8rem;
    text-align: center;
    h3{
        font-size: 2.6rem;
        padding: 1rem;
        color: #0c3653;
        font-weight: bold;
        margin: 5px;
        font-family: $fontFam;
    }
    input{
        width: 100%;
        height: 45px;
        margin-right: 0 auto;
        outline: #0c3653;
        border: 1px solid #0c3653;
        border-radius: 10px;
        box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    }
}
}


/* PLUS MINUS BUUTON */
.qty {
    input{  
        border: 0;
        width: 2%;
    }
    nput::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input:disabled{
        background-color:white;
    }
.count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty {
.minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
.minus:hover{
    background-color: #f98169 !important;
}
.plus:hover{
    background-color: #f98169 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
div {
    text-align: center;
}


}



/* Media Qqueries */
@media only screen and (max-width: 1200px) {
    .cart-item{
        width: 80%;

        #del-item{
            bottom: 40px;
        }

        .cart-details{
            width: 300px;
            h2{
                font-size: 2rem;
            }
        }
       
        img{
            width: 120px;
            height: 120px;
        }
    
        p{
            font-size: 1.7rem;
        }
        i{
            font-size: 1.7rem;
        }

    }
    #cart-total{
        width: 80%;
        flex-direction: column;
        text-align: left;
        align-items: left;
        h2{
            font-size: 1.8rem;
            margin-top: 1rem;
        }
        .location{
            padding: .2rem;
            width: 70%;
            h3{
                font-size: 1.7rem;
                text-align: center;
                margin: 2px;
            }
            input{
                width: 250px;
                text-align: left;
                margin: 0;
                border-radius: 10px;
                box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
            }
        }
        
       
    }
   
  }

 


@media only screen and (max-width: 775px) {
    .cart-item{
        width: 100%;

        #del-item{
            bottom: 40px;
        }

        .cart-details{
            width: 250px;
            h2{
                font-size: 2rem;
            }
        }
       
        img{
            width: 100px;
            height: 100px;
        }
    
        p{
            font-size: 1.7rem;
        }
        i{
            font-size: 1.7rem;
        }

    }
    #cart-total{
        width: 100% !important;
        flex-direction: column;
        text-align: left;
        align-items: left;
        h2{
            font-size: 1.8rem;
        }
        .location{
            padding: .2rem;
            width: 90% !important;
            h3{
                font-size: 1.7rem;
                text-align: center;
                margin: 2px;
            }
            input{
                width: 250px;
                text-align: left;
                margin: 0;
                border-radius: 10px;
                box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
            }
        }
        
       
    }
   
  }
  