.loading{
    width: 80%;
    margin: 12rem auto;
    display: inline-block;
    padding: 1rem;
    i{
        font-size: 50px;
        color: #f98169;
    }  
    h3{
        font-size: 4rem;
        padding: .7rem;
        display: inline-block;
    }
}