@import '../sass/Global.scss';


.loader{
    display: flex;
    width: 50%;
    margin: 10rem auto;
    align-items: center;
    text-align: center;
    h3{
        font-family: $fontFam;
        font-size: 3rem;
        margin-left: .7rem;
    }

}


