@import '../sass/Global.scss';

.search{
    display: flex;
    position: absolute;
    left: 70%;
    top: 17px; 
    border: none;   
    #voice-btn{
        background: none;
        border: none;
        outline: none;
        font-family: $fontFam;
        i{
            padding: 3px;
            font-size: 1.8rem;
            color:rgb(153, 153, 153);
        }
    }
}

.search-input{
    position: relative;
    #sea-inp{
        width: 28vw;
        height: 40px;
        margin-top: 10px;
        outline: none;
        border-radius: 10px;
        box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    }
    .btn{
       margin: 10px;
       height: 40px;
       width: 100px;
       font-size: 1.6rem;
       color: #fff;
       border: 1px solid #fff;
       font-weight: bold;
       font-family: $fontFam;
    }
    .btn:hover{
        background: #f3a697;
        border: 1px solid #f98169;
        outline: #f98169;
    }
    ul{
      width: 50%;
    }
  }


  /* Media Queries */

  @media only screen and (max-width: 1200px) {
    
        .search{
            left: 60%;
        }
      
  }

  @media only screen and (max-width: 1000px) {
    .search-input{
        margin: 0 auto;
        width: 60%;
        text-align: center;
        #sea-inp{
            width: 50vw;
        }
        .search{
            left: 68%;
        }
      }
  }
  @media only screen and (max-width: 375px) {
    .search-input{
        width: 100%;
        text-align: center;
        #sea-inp{
            width: 60vw;
        }
      }
      .search{
          left: 50% !important;
      }
  }


  